<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Clever/Snazzy Kitchen Pun</title>
</head>
<body>
    <script type="text/javascript" src="../static/functions.js"></script>
    <div>
        <div>
            <div>
                <h1>Clever/Snazzy Kitchen Pun</h1>
            </div>
            <div>
                Instructions maybe? Brief overview?
            </div>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
        <div>
            Background info and links (personal website github linked in etc)
        </div>
    </div>
</body>
</html>