{% extends 'base.html' %}

{% block title %}Convert It{% endblock %}

{% block content %}
    <!-- <form>
        <label>
            <input type="radio" name="unittype" id="unittype" value="imperial" checked="true">
            Imperial Units
        </label>
        <label>
            <input type="radio" name="unittype" id="unittype" value="metric">
            Metric Units
        </label>
    </form> -->
    <script>
        function unitSuggestions(startEnd) {
            var div, input, filter, ul, li, a, i;
            if (startEnd == 'start') {
                div = document.getElementById("myDropdown1");
                input = document.getElementById("startUnit");
            } else if (startEnd == 'end') {
                div = document.getElementById("myDropdown2");
                input = document.getElementById("endUnit");
            }
            filter = input.value.toUpperCase();
            a = div.getElementsByTagName("p");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }

        function clickFill(startEnd, value) {
            if (startEnd == "start") {
                let inputField = document.getElementById("startUnit");
                inputField.value = value;
            } else if (startEnd == "end") {
                let inputField = document.getElementById("endUnit");
                inputField.value = value;
            }
        }
    </script>
    <form>
        <div style="display: inline-flex">
            <div>
                <input type="text" id="quantity" name="quantity" placeholder="Amount to convert">
            </div>
            <div>
                <input type="text" id="startUnit" name="startUnit" placeholder="Unit to be converted" onkeyup="unitSuggestions('start')">
                <div id="myDropdown1" style="height: 100px; overflow-y: scroll;">
                    <p onClick="clickFill('start', 'Teaspoon')">Teaspoon</p>
                    <p onClick="clickFill('start', 'Tablespoon')">Tablespoon</p>
                    <p onClick="clickFill('start', 'Fluid Ounce')">Fluid Ounce</p>
                    <p onClick="clickFill('start', 'Cup')">Cup</p>
                    <p onClick="clickFill('start', 'Pint')">Pint</p>
                    <p onClick="clickFill('start', 'Quart')">Quart</p>
                    <p onClick="clickFill('start', 'Gallon')">Gallon</p>
                    <p onClick="clickFill('start', 'Ounce')">Ounce</p>
                    <p onClick="clickFill('start', 'Pound')">Pound</p>
                    <p onClick="clickFill('start', 'Milliliters')">Milliliters</p>
                    <p onClick="clickFill('start', 'Liters')">Liters</p>
                    <p onClick="clickFill('start', 'Grams')">Grams</p>
                    <p onClick="clickFill('start', 'Kilograms')">Kilograms</p>
                </div>
            </div>
            <div>
                <input type="text" id="endUnit" name="endUnit" placeholder="Unit converted to" onkeyup="unitSuggestions('end')">
                <div id="myDropdown2" style="height: 100px; overflow-y: scroll;">
                    <p onClick="clickFill('end', 'Teaspoon')">Teaspoon</p>
                    <p onClick="clickFill('end', 'Tablespoon')">Tablespoon</p>
                    <p onClick="clickFill('end', 'Fluid Ounce')">Fluid Ounce</p>
                    <p onClick="clickFill('end', 'Cup')">Cup</p>
                    <p onClick="clickFill('end', 'Pint')">Pint</p>
                    <p onClick="clickFill('end', 'Quart')">Quart</p>
                    <p onClick="clickFill('end', 'Gallon')">Gallon</p>
                    <p onClick="clickFill('end', 'Ounce')">Ounce</p>
                    <p onClick="clickFill('end', 'Pound')">Pound</p>
                    <p onClick="clickFill('end', 'Milliliters')">Milliliters</p>
                    <p onClick="clickFill('end', 'Liters')">Liters</p>
                    <p onClick="clickFill('end', 'Grams')">Grams</p>
                    <p onClick="clickFill('end', 'Kilograms')">Kilograms</p>
                </div>
            </div>
        </div>
        </select>
        <script>
            function invalidConversionDict() {
                var invalidConversions = {
                    'cup' : ['grams', 'kilograms', 'ounce', 'pound'],
                    'teaspoon' : ['grams', 'kilograms', 'ounce', 'pound'],
                    'tablespoon' : ['grams', 'kilograms', 'ounce', 'pound'],
                    'fluid ounce' : ['grams', 'kilograms', 'ounce', 'pound'],
                    'pint' : ['grams', 'kilograms', 'ounce', 'pound'],
                    'quart' : ['grams', 'kilograms', 'ounce', 'pound'],
                    'gallon' : ['grams', 'kilograms', 'ounce', 'pound'],
                    'milliliters' : ['grams', 'kilograms', 'ounce', 'pound'],
                    'liters' : ['grams', 'kilograms', 'ounce', 'pound'],
                    'ounce' : ['cup', 'teaspoon', 'tablespoon', 'fluid ounce', 'pint', 'quart', 'gallon'],
                    'pound' : ['cup', 'teaspoon', 'tablespoon', 'fluid ounce', 'pint', 'quart', 'gallon'],
                    'grams' : ['cup', 'teaspoon', 'tablespoon', 'fluid ounce', 'pint', 'quart', 'gallon'],
                    'kilograms' : ['cup', 'teaspoon', 'tablespoon', 'fluid ounce', 'pint', 'quart', 'gallon']
                };

                return invalidConversions;
            }

            function validConversion(startUnit, endUnit) {
                var invalidConversions = invalidConversionDict();
                if (invalidConversions[startUnit].includes(endUnit)) {
                    return false;
                } else {
                    return true;
                }
            }

            function validateInput(value) {
                var invalidConversions = invalidConversionDict();
                if (value in invalidConversions) {
                    return true;
                } else {
                    return false;
                }
            }

            function convert() {
                var startUnit = document.getElementById("startUnit").value.toLowerCase();
                var endUnit = document.getElementById("endUnit").value.toLowerCase();
                var result = document.getElementById("result");
                if (validateInput(startUnit)) {
                    if (validateInput(endUnit)) {
                        if (validConversion(startUnit, endUnit)) {
                            result.textContent = "Calculated";
                        } else {
                            result.textContent = "Invalid conversion";
                        }
                    } else {
                        result.textContent = "Invalid end unit";
                    }
                } else {
                    result.textContent = "Invalid start unit";
                }
            }
        </script>
        <input type="button" value="Convert!" onClick="convert()">
        <div>
            <h1>Results!</h1>
            <h2 id="result">Pending</h2>
        </div>
    </form>
{% endblock %}