{% extends 'base.html' %}

{% block title %}Convert It{% endblock %}

{% block content %}
    <!-- <form>
        <label>
            <input type="radio" name="unittype" id="unittype" value="imperial" checked="true">
            Imperial Units
        </label>
        <label>
            <input type="radio" name="unittype" id="unittype" value="metric">
            Metric Units
        </label>
    </form> -->
    <form>
        <div style="display: inline-flex">
            <div>
                <input type="text" id="quantity" name="quantity" placeholder="Amount to convert">
            </div>
            <div>
                <input type="text" id="startUnit" name="startUnit" placeholder="Unit to be converted" onkeyup="unitSuggestions('start')">
                <div id="myDropdown1" style="height: 100px; overflow-y: scroll;">
                    <p onClick="clickFill('start', 'Teaspoon')">Teaspoon</p>
                    <p onClick="clickFill('start', 'Tablespoon')">Tablespoon</p>
                    <p onClick="clickFill('start', 'Fluid Ounce')">Fluid Ounce</p>
                    <p onClick="clickFill('start', 'Cup')">Cup</p>
                    <p onClick="clickFill('start', 'Pint')">Pint</p>
                    <p onClick="clickFill('start', 'Quart')">Quart</p>
                    <p onClick="clickFill('start', 'Gallon')">Gallon</p>
                    <p onClick="clickFill('start', 'Ounce')">Ounce</p>
                    <p onClick="clickFill('start', 'Pound')">Pound</p>
                    <p onClick="clickFill('start', 'Milliliters')">Milliliters</p>
                    <p onClick="clickFill('start', 'Liters')">Liters</p>
                    <p onClick="clickFill('start', 'Grams')">Grams</p>
                    <p onClick="clickFill('start', 'Kilograms')">Kilograms</p>
                </div>
            </div>
            <div>
                <input type="text" id="endUnit" name="endUnit" placeholder="Unit converted to" onkeyup="unitSuggestions('end')">
                <div id="myDropdown2" style="height: 100px; overflow-y: scroll;">
                    <p onClick="clickFill('end', 'Teaspoon')">Teaspoon</p>
                    <p onClick="clickFill('end', 'Tablespoon')">Tablespoon</p>
                    <p onClick="clickFill('end', 'Fluid Ounce')">Fluid Ounce</p>
                    <p onClick="clickFill('end', 'Cup')">Cup</p>
                    <p onClick="clickFill('end', 'Pint')">Pint</p>
                    <p onClick="clickFill('end', 'Quart')">Quart</p>
                    <p onClick="clickFill('end', 'Gallon')">Gallon</p>
                    <p onClick="clickFill('end', 'Ounce')">Ounce</p>
                    <p onClick="clickFill('end', 'Pound')">Pound</p>
                    <p onClick="clickFill('end', 'Milliliters')">Milliliters</p>
                    <p onClick="clickFill('end', 'Liters')">Liters</p>
                    <p onClick="clickFill('end', 'Grams')">Grams</p>
                    <p onClick="clickFill('end', 'Kilograms')">Kilograms</p>
                </div>
            </div>
        </div>
        </select>
        <input type="button" value="Convert!" onClick="convert()">
        <div>
            <h1>Results!</h1>
            <h2 id="result">Pending</h2>
        </div>
    </form>
{% endblock %}